@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Matter", sans-serif;
  scroll-behavior: smooth;
}
/* placeholder custom color */
.placeholder-red::placeholder {
  color: red;
}

@layer base {
  :root {
    --wheels-error: #ef4444;
    --wheels-primary: #00283d;
    --wheels-secondary: #0f0f0f;
    --wheels-tertiary: #b9b9b9;
    --wheels-purple: #5654d1;
    --wheels-grey: #55707e;
    --wheels-grey-2: #dbdfe1;
    --wheel-grey-3: #808285;
    --wheels-grey-4: #d0d5dd;
    --wheels-border: #d1d1d1;
    --wheels-border-2: #e0e0e0;
    --wheels-success: #10b981;
    --wheels-cyan: #53c5d3;
  }

  /* FONTS */
  @font-face {
    font-family: "Matter";
    src:
      url("/assets/fonts/Matter-Light.woff2") format("woff2"),
      url("/assets/fonts/Matter-Light.woff") format("woff"),
      url("/assets/fonts/Matter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Matter";
    src:
      url("/assets/fonts/Matter-Regular.woff2") format("woff2"),
      url("/assets/fonts/Matter-Regular.woff") format("woff"),
      url("/assets/fonts/Matter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Matter";
    src:
      url("/assets/fonts/Matter-Medium.woff2") format("woff2"),
      url("/assets/fonts/Matter-Medium.woff") format("woff"),
      url("/assets/fonts/Matter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Matter";
    src:
      url("/assets/fonts/Matter-SemiBold.woff2") format("woff2"),
      url("/assets/fonts/Matter-SemiBold.woff") format("woff"),
      url("/assets/fonts/Matter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Matter";
    src:
      url("/assets/fonts/Matter-Bold.ttf") format("woff2"),
      url("/assets/fonts/Matter-Bold.woff") format("woff"),
      url("/assets/fonts/Matter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

/* Change the input background color for autofill on browsers*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* remove arrows from input */
/* For WebKit-based browsers (Chrome, Safari, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/* For Firefox and other non-WebKit browsers */
input[type="number"] {
  -moz-appearance: textfield;
}
